<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Schedule</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="people-circle-outline" style="font-size: 24px"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <div class="container" *ngFor="let event of arrEvent; let i=index">
      <ion-item routerLink="/home/scheduledetail/{{i}}">
        <div class="kiri" style="text-align: center; width: 15%;">
          <label style="font-size: 24px;">
            <b>{{getDatePad(event.tanggalEvent)}}</b>
          </label><br>
          <label>
            {{getStringMonth(event.tanggalEvent)}}
          </label>
        </div>
        <div class="tengah" style="width: 60%;">
          <ion-text>
            {{event.namaEvent}}
          </ion-text>
        </div>
        <div class="kanan" style="text-align: center; width: 25%;">
          <ion-text>
            {{event.namaGame}}-{{event.team}}
          </ion-text>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>