<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Who We Are</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">wwa</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-content [fullscreen]="true">
    <ion-img
    src="https://docs-demo.ionic.io/assets/madison.jpg"
    alt="The Wisconsin State Capitol building in Madison, WI at night"
  ></ion-img>

  <ion-text color="primary">
    <h1>
      lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque harum facere, hic tempora 
      consectetur commodi architecto obcaecati sed deleniti ullam 
      rem amet autem quos officia? Assumenda consectetur dicta soluta impedit.
    </h1>
  </ion-text>

</ion-content>



