<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Who We Are</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    

    <ion-buttons slot="end">
      <ion-icon
        slot="icon-only"
        name="people-circle-outline"
        style="font-size: 24px"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">wwa</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-content [fullscreen]="true">

  <!-- Image -->
   <ion-list lines="full" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <ion-img
    style="width:70%; height: auto;"
    src="assets/img/Sentinel.jpg"
    ></ion-img>
   </ion-list>
    

  <!-- Title & Description Text -->
    <ion-card *ngFor="let desc of arrDesc">
      <ion-card-header>
        <ion-card-title>{{desc.namaTeam}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{desc.deskripsiTeam}}</ion-card-content>
    </ion-card>

   <!-- Like Button -->
   <ion-list lines="full">
    <ion-button 
    fill="outline"
    shape="round"
    color="medium"
    style="padding-left: 90%;"
    (click)="likeCount()">
      <ion-text>{{numberOfLikeClicked}}</ion-text> 
      <ion-icon name="thumbs-up-outline"></ion-icon>
    </ion-button>
   </ion-list>
   
</ion-content>