<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/wwp"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ selectedGame?.name }} Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-container">
    <img
      [src]="selectedGame.image"
      [alt]="selectedGame.alt"
      class="center-cropped-image"
    />
  </div>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>{{ selectedGame?.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ selectedGame?.description }}</ion-card-content>
  </ion-card> -->

  <ion-list>
    <!-- <ion-list-header>
      <h1 class="ion-label">Teams</h1>
    </ion-list-header> -->
    <ion-item *ngFor="let team of teams" (click)="goToTeamDetails(team)" button>
      <ion-label class="clickable-label centered-label">
        {{ team.teamName }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="!selectedGame">
  <ion-spinner></ion-spinner>
  <p>data tidak ditemukan</p>
</ion-content>
