.image-container {
  width: 100%;
  height: 200px; // Anda bisa menyesuaikan tinggi ini sesuai kebutuhan
  overflow: hidden;
  position: relative;
}

.center-cropped-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.clickable-label {
  cursor: pointer;
}

ion-item {
  --ripple-color: var(--ion-color-primary);
}



