<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/wwp/teams/{{gameId}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ teamName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ teamName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>Players:</h3>
      <ion-list>
        <ion-item *ngFor="let player of teamMembers">
          <ion-avatar slot="start">
            <img [src]="'https://i.pravatar.cc/150?u=' + player.member_name" alt="{{ player.member_name }}" />
          </ion-avatar>
          <ion-label>
            <h2>{{ player.member_name }}</h2>
            <p>Role: {{ player.description }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <div *ngIf="!team">
    <ion-spinner></ion-spinner>
    <p>Loading team details...</p>
  </div> -->
</ion-content>
