ion-button {  
  margin-top: 10px;  
}  
  
p {  
  text-align: center;  
  margin: 10px 0;  
}  

.image-container {  
  text-align: center; 
  margin-bottom: 5px; 
}  
  
.image-container img {  
  max-width: 25%; 
  height: auto; 
}