<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedGame.name }} Achievements</ion-title>
    <ion-buttons slot="start" [routerLink]="['/wwp']">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="image-container">
      <img 
      *ngIf="selectedGame.image" 
      [src]="selectedGame.image" 
      [alt]="selectedGame.title" 
      class="center-crop-image">
    </div>
    
    <!-- <ion-select [(ngModel)]="selectedYear" (ionChange)="filterAchievements()"> 
        <ion-select-option *ngFor="let year of availableYears" [value]="year">
          {{ year === 0 ? 'All' : year }}
        </ion-select-option>
      </ion-select> -->
    <ion-item>
      <ion-select [(ngModel)]="selectedYear" (ionChange)="filterAchievements()" label="Year" placeholder="Select Year" labelPlacement="stacked">
        <ion-select-option [value]="'All'" interface="popover">
          All
        </ion-select-option>
        <ion-select-option *ngFor="let year of availableYears" [value]="year" interface="popover">
          {{ year }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="filteredAchievements.length > 0">
    <ion-card *ngFor="let achievement of filteredAchievements">
      <ion-card-header>
        <ion-card-title>{{ achievement.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Team: {{ achievement.team }}</p>
        <p>{{ achievement.description }}</p>
        <p>Year: {{ achievement.year }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>