<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedGame?.name || 'Achievements' }}</ion-title>
    <ion-buttons slot="start" [routerLink]="['/wwp']">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading" style="margin: 20px auto; display: block;"></ion-spinner>

  <div class="image-container" *ngIf="selectedGame?.image && !isLoading">
  <img 
    [src]="selectedGame.name" 
    [alt]="selectedGame.name" 
    class="center-crop-image">
</div>

  <ion-item *ngIf="!isLoading">
    <ion-select [(ngModel)]="selectedYear" (ionChange)="filterAchievements()" placeholder="Select Year">
      <ion-select-option value="All">All</ion-select-option>
      <ion-select-option *ngFor="let year of availableYears" [value]="year">
        {{ year }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-list *ngIf="filteredAchievements.length > 0">
    <ion-card *ngFor="let achievement of filteredAchievements">
      <ion-card-header>
        <ion-card-title>{{ achievement.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Description: {{ achievement.description }}</p>
        <p>Date: {{ achievement.date }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  
  <ion-item *ngIf="filteredAchievements.length === 0">
    <p>No achievements found for the selected year.</p>
  </ion-item>
</ion-content>
