ion-card img {
  width: 100%;
  height: 100px; /* Set the desired height for showing the top half */
  object-position: top; /* Crops the bottom part and shows the top part */
  object-fit: cover;
}

ion-button {
  margin: 8px 0;
}

