<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>E-Sports</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let game of games">
    <img [src]="game.image" [alt]="game.alt" />
    <ion-card-header>
      <ion-card-title>{{ game.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{ game.description }} </ion-card-content>
    <ion-row justify-content-end>
      <ion-col size="auto">
        <ion-button shape="round" fill="outline" [routerLink]="['/achievement', game.id]">Achievement</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button shape="round" fill="outline">Teams</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
