<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <ion-icon name="game-controller-outline"> </ion-icon>
    <hr />
    <a routerLink="/home/wwp">What We Play</a>
    <hr />
    <ion-icon name="people-outline"></ion-icon>
    <hr />
    <a routerLink="/home/wwa">Who We Are</a>
    <hr />
    <ion-icon name="calendar-number-outline"></ion-icon>
    <hr />
    <a routerLink="/home/schedule">Schedule Page</a>
    <hr />
  </div>
</ion-content>
