<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="header-title">E-Sports</ion-title>

    <ion-buttons slot="end">
      <ion-icon
        slot="icon-only"
        name="people-circle-outline"
        style="font-size: 24px"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align: center">
    <!-- What We Play -->
    <div style="padding: 20px" (click)="goToPage('wwp')">
      <ion-icon
        name="game-controller-outline"
        style="font-size: 60px"
      ></ion-icon>
      <br />
      <span style="font-size: 24px">What We Play</span>
    </div>

    <!-- Who We Are -->
    <div style="padding: 20px" (click)="goToPage('wwa')">
      <ion-icon name="people-outline" style="font-size: 60px"></ion-icon>
      <br />
      <span style="font-size: 24px">Who We Are</span>
    </div>

    <!-- Schedule -->
    <div style="padding: 20px" (click)="goToPage('schedule')">
      <ion-icon
        name="calendar-number-outline"
        style="font-size: 60px"
      ></ion-icon>
      <br />
      <span style="font-size: 24px">Schedule</span>
    </div>
  </div>
</ion-content>
