<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedGame.name }} Achievements</ion-title>
    <ion-buttons slot="start" (click)="goToPage('wwp')">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Year</ion-label>
      <!-- <ion-select [(ngModel)]="selectedYear" (ionChange)="filterAchievements()"> -->
        <!-- <ion-select-option *ngFor="let year of availableYears" [value]="year">
          {{ year === 0 ? 'All' : year }}
        </ion-select-option> -->
        <!-- <ion-select-option *ngFor="let game of games">
          {{ game.id }}
        </ion-select-option> -->
      <ion-select>
        <ion-select-option value="tes">
          Tes
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-card *ngFor="let achievement of filteredAchievements">
      <!-- Check if achievement.image exists -->
      <img *ngIf="achievement.image" [src]="achievement.image" [alt]="achievement.title">
      <ion-card-header>
        <ion-card-title>{{ achievement.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Team: {{ achievement.teamName }}</p> <!-- Use 'teamName' if that's the correct field -->
        <p>{{ achievement.description }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
