<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Schedule Detail</ion-title>
    <ion-buttons slot="start" [routerLink]="['/schedule']">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="people-circle-outline" style="font-size: 24px"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card *ngFor="let event of arrEvent">
      <ion-img [src]="'assets/img/' + event.name + '.jpg'" [alt]="event.name"></ion-img>
      <ion-card-header>
        <ion-card-title>{{event.name}}</ion-card-title>
        <ion-card-subtitle>
          {{event.location}} ({{getTimePad(event.date)}})
        </ion-card-subtitle>
        <ion-card-subtitle>
          {{event.team_name}}
        </ion-card-subtitle><br>
      </ion-card-header>
      <ion-card-content>
        {{event.description}}
        <div class="button">
          <ion-button id="btnNotif" shape="round" fill="outline" class="ion-float-right ion-margin-bottom ion-margin-top">
            <ion-icon slot="start" name="notifications-outline"></ion-icon>Notify Me
          </ion-button>
          <ion-alert trigger="btnNotif" header="Notification" message="Notification created"
            [buttons]="alertButtons"></ion-alert>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
